body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.custom-marker {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Weitere CSS-Definitionen hier */
